<nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        <span>Número do caixa</span>
        <br>
        <input type="text" [(ngModel)]="this.pesquisa.codigo" placeholder="Informe o código ou nome ou cpf/cnpj e tecle ENTER" />
      </li>
      <li class="nav-item">
        <span>De</span>
        <br>
        <input type="date" />
      </li>
      <li class="nav-item dropdown">
        <span>Até</span>
        <br>
        <input id="datepicker" type="date" />
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <button (click)="pesquisar()" class="btn btn-outline-success my-2 my-sm-0" type="button">Pesquisar</button>
    </form>
  </div>
</nav>


<table>
  <tr class="border_bottom" *ngFor="let caixa of this.caixas">
    <td>
      <span><b>{{caixa.codigoPublico}}</b>(Terminal {{caixa.pdvNumero}})</span>

    </td>
    <td>
      <span>Data Abertura</span>
      <br>
      <label>{{caixa.dataAbertura | date : 'dd/MM/yyyy hh:mm:ss'}}</label>
    </td>
    <td>
      <span>Data Fechamento</span>
      <br>
      <label>{{caixa.dataFechamento | date : 'dd/MM/yyyy hh:mm:ss'}}</label>
    </td>
    <td>
      <span>Tempo aberto</span>
      <br>
      <label>3h:37min</label>
    </td>
    <td>
      <span>Quantidade Vendas</span>
      <br>
      <label>{{caixa.totais.quantidadeVendas}}</label>
    </td>
    <td>
      <span>Status</span>
      <br>
      <label *ngIf="caixa.status == StatusCaixaEnum.Aberto"><b>Aberto</b></label>
      <label class="lblfechado" *ngIf="caixa.status == StatusCaixaEnum.Fechado"><b>Fechado</b></label>
    </td>
    <td class="clunaPesquisa">
      <button type="button" (click)="abreDashboard(caixa)" >Pesquisar</button>
    </td>
  </tr>

</table>

<app-dashboard
*ngIf="this.caixaSelecionado != null"
[caixaSelecionado]="this.caixaSelecionado"
(fecharModal)="modalFechada()"

></app-dashboard>
